<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">To Do List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'todolist:index' %}">Home</a>
        </li>
        <li class="nav-item" id="add_nav">
          <a class="nav-link" href="{% url 'todolist:add_task' %}">Add Task</a>
        </li>
        <li class="nav-item" id="add_event">
          <a class="nav-link" href="{% url 'todolist:add_event' %}">Add Event</a>
        </li>
        {% if request.user.id is not None %}
        <li class="nav-item" id="update_prof">
          <a class="nav-link" href="{% url 'todolist:update_profile' request.user.id %}">Update Profile</a>
        </li>
        {% endif %}
        <li class="nav-item" id="login_nav">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item" id="regi_nav">
          <a class="nav-link" href="register">Register</a>
        </li>
        <li class="nav-item" id="logout_nav">
          <a class="nav-link" href="{% url 'todolist:logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>