{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
	{% if user.is_anonymous == False %}
		<div class="container">
			<div class="header">
              <h1 style="" class="text-center my-4">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
            </div>

			<div class="row d-flex justify-content-center" style="width: 30%;">

					<table class="table table-bordered table-condensed text-center">
						<thead style="background-color: black;color: white;font-size: 20px;">
							<tr>
								<th class="col-5">Tasks</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!-- TASK -->
								{% if todoitem_list %}
									<td>
										{% for todoitem in todoitem_list %}
										<li class="list-group-item">
											<a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">
												{{ todoitem.task_name }}
											</a>
										</li>
										{% endfor %}
									</td>
								{% else %}
									<td>
										<p class="text-center my-3">No tasks have been created.</p>
									</td>
								{% endif %}
							</tr>
						</tbody>
					</table>

					<table class="table table-bordered table-condensed text-center">
						<thead style="background-color: black;color: white;font-size: 20px;">
							<tr>
								<th class="col-5">Events</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!-- EVENT -->
								{% if todoevent %}
									<td>
										{% for events in todoevent %}
										<li class="list-group-item">
											<a href="{% url 'todolist:viewevent' events.id %}" class="text-decoration-none">
												{{ events.event_name }}
											</a>
										</li>
										{% endfor %}
									</td>
								{% else %}
									<td>
										<p class="my-2">No events have been created.</p>
									</td>
								{% endif %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			login_nav = document.getElementById('login_nav');
			regi_nav = document.getElementById('regi_nav');

			login_nav.style.display = 'none';
			regi_nav.style.display = 'none';
		</script>
	{% elif user.is_anonymous == True %}
		<h1 class="text-center my-3">You are not authorized to access this page.</h1>
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
		<script type="text/javascript">
			logout_nav = document.getElementById('logout_nav');
			add_nav = document.getElementById('add_nav');
			add_event = document.getElementById('add_event');

			add_event.style.display = 'none';
			logout_nav.style.display = 'none';
			add_nav.style.display = 'none';
		</script>
	{% endif %}
{% endblock %}