{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
	{% if user.is_anonymous == True %}
		<div class="container">
			<div class="row">
				<div class="col-6 offset-3">
					<h1 class="text-center my-3">Login</h1>
					{% if error == True %}
						<p class="text-danger">Invalid user credentials, please check your username and password</p>
					{% endif %}
					<form action="{% url 'todolist:login' %}" method="post">
						{% csrf_token %}
						<div class="mb-3">
							<label for="username">Username: </label>
							<input class="form-control" id="username" type="text" name="username" value="{{ username }}" maxlength="20" required>
						</div>
						<div class="mb-3">
							<label for="password">Password: </label>
							<input class="form-control" id="password" type="password" name="password" value="{{ password }}" maxlength="20" required>
						</div>
						<div class="text-center d-grid gap-1">
							<input class="btn btn-success" type="submit" value="Login">
						</div>
					</form>
					<script type="text/javascript">
						logout_nav = document.getElementById('logout_nav');
						add_nav = document.getElementById('add_nav');
						add_event = document.getElementById('add_event');
			
						add_event.style.display = 'none';
						logout_nav.style.display = 'none';
						add_nav.style.display = 'none';
					</script>
				</div>
			</div>
		</div>
	{% else %}
		<h1 class="text-center my-3">You are not authorized to access this page.</h1>
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
	{% endif %}
{% endblock %}
