{% extends 'base.html' %}

{% block title %} Update Profile {% endblock %}

{% block content %}
	{% if user.is_anonymous == False %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Update Profile</h1>
				<form action="{% url 'todolist:update_profile' user_id %}" method="post">
					{% csrf_token %}
					
					{% for field in form %}
						<div class="mb-3">
							<label for="first_name">{{ field.label_tag }}</label>
							{{ field }}
						</div>
					{% endfor %}
					
					<div class="text-center d-grid gap-1">
						<input class="btn btn-success" type="submit" value="Update Profile">
					</div>
				</form>
				<script type="text/javascript">
					login_nav = document.getElementById('login_nav');
					regi_nav = document.getElementById('regi_nav');

					login_nav.style.display = 'none';
					regi_nav.style.display = 'none';
				</script>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
