{% extends 'base.html' %}

{% block title %} View Task {% endblock %}

{% block content %}

<div class="container my-5">
	<div class="row d-flex justify-content-center">
		<div class="col-5">
			<div class="mx-auto">
				<div class="card">
					<h1 class="card-header text-center" style="background-color: black;color: white;font-size: 40px;"> {{ event_name }} </h1>
					<div class="card-body">
						<h5 class="card-title text-center"><b>Status</b></h5>
						<h6 class="text-center">{{ status }} </h6>
						<p class="card-text text-center">Description: {{ description }}</p>
					</div>
					<div class="card-footer p-2 text-center">
						<div class="d-grid gap-5">
							<button class="btn btn-danger mx-1 text-decoration-none">
								<a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">
									Back to Tasks
								</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	login_nav = document.getElementById('login_nav');
	regi_nav = document.getElementById('regi_nav');
	
	login_nav.style.display = 'none';
	regi_nav.style.display = 'none';
</script>

{% endblock %}